
.dropdown {
  font-size: 13px;
  overflow: hidden;
  display: inline;
}

.dropdown .select select{
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 120%;
  position: relative;
  z-index: 10;
  font-size: 1em;
}
