.Inventory{
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #E54A59;
    /* box-shadow: 0 2px 1rem #ccc; */
    text-align: center;
    border-radius: .3rem;

}

