.ItemDetails {
    margin-top: 6rem;
}

.row {
    width: 80%;
    margin: 0 auto;
    clear: both;

}

.row2 {
    width: 80%;
    margin: 0 auto;
    clear: both;
    padding-bottom: 4rem;

}

.row3 {
    width: 50%;
    margin: 0 auto;
    clear: both;
    padding-bottom: 4rem;

}
.col1of2 {
    width: 50%;
    float: left;
    text-align: center;
}
.button {
  display: inline;
  position: relative;
  right: 0px;
  box-sizing: border-box;
  width: 10%;
  outline: 0;
  margin: 10px;
  border: 1px solid #373277;
  border-radius: 0;
  background: #E54A59;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
}

.title {
    font-size: 3rem;
    text-transform: capitalize;
}
.image {
    width: 100%;
    border-radius: 10px;
}
.ownerDetails {
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
}
.userIcon {
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.owner {
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    position: absolute;
    top: 0rem;
    left: 5.5rem
}
.rating {
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    position: absolute;
    top: 2.5rem;
    left: 5.5rem

}
h3 {
    font-size: 2rem;
    color: #474142;
}
.description {
    border: 2px solid #E54A59;
    border-radius: 2rem;
    padding: 1.4rem;
    min-height: 7rem;
    margin-top: 2rem;
}
.descText {
    font-size: 1.6rem;
}

.desBox{
    margin-top: 6rem;
}
