.Profile {
    
    width: 100%;
    height: 100%;
    /* display: flex; */
    flex-flow: column;
    flex: 1;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}
.row {
    width: 80%;
    margin: 0 auto;
    clear: both;
}
.col1of4{
    width: 23%;
    margin-right: 4%;
    float: left;
}
.col3of4{
    width: 73%;
    float: left;
}

.inventoryContainer {
    clear: both;
}
/* .Inventory{
    flex-flow: row;
} */


.content {
    margin-top: 7rem;
    padding: 2rem;
}