.Modal {
    position: relative;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
@media (min-width: 600px) {
    .Modal {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
