.ActivityLog{
    width: 100%;
    min-height: 5rem;
    background-color: white;
    color: black;
    font-size: 2rem;
    position: relative;
    margin: auto;
}

.ActivityLog:nth-child(odd){
    background-color:rgb(200,200,200);

}

.textnBorder{
    height: 4rem;
    line-height: 4rem;
    font-size: 1.5rem;
    padding: 0.5rem 5rem 0.5rem 2rem; 
    border-bottom: 1px solid black;
    /* display: inline-block; */
    /* overflow-y: scroll; */
}

.smallText{
    font-size: 1.3rem;
    margin: 0 3rem 0 3rem;
    display: inline-block;
}


.date{
    float: right;
    right: 0;
    color: #E54A59;
}
