.Item{
    box-sizing: border-box;
    width: 60%;
    margin: 24px auto;
    border: 10px rgb(255, 0, 0);
    box-shadow: 10px 4px 20px #ccc;
    padding: 16px;
    text-align: center;
    border-radius: 25px 25px 25px 25px;
}