

.Item{
    display: inline-flex;
    justify-content: space-around;
    flex-flow: column wrap;
    margin-top: 25px;
    margin: 12px;
    width: 25% auto;
    height: 35%;
    background-color: #E54A59;
    box-shadow:0 8px 16px 0 rgba(173, 0, 247, 0.2);
    padding: 45px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    transition: .2s;
    color: white;

}

.Item:hover {
    
    border: 12px solid #E54A59;
    box-shadow:  rgba(255, 60, 0, 0.705);
    background-color: #ecdb54;
    color: rgb(19, 8, 10);
    border: 10px rgb(255, 65, 65);
   
}
