
.Input {
    font-size: 1.6rem;
    /* width: 100%;
    padding: 10px; */
    box-sizing: border-box;
}
.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}
.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.InputElement:focus {
    outline: none;
    border: 1px solid #E54A59;
    box-shadow: 0 .1rem .3rem #ccc;
}
