.Item {
    width: 250px;
    height: 300px;
    flex-flow: row;
    margin: 24px;
    text-align: center;
    background-color: #E54A59;
    color: white;
    display: inline-block;
    border: 1px solid #E54A59;
    vertical-align: middle;
    position: relative;

    
}

.Item:hover .Inside{
    opacity: 1;
}

.Image {
    object-fit: cover;
}

.Inside{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #E54A59;
    background-color: white;
    margin: auto 0;
}

.Item img {
    width: 100%;
    height: 60%;
    align-self: center;
}

.Item textbelow{
    font-size: 4rem;
    width: 100%;
    height: 40%;
    align-self: center;
}


.Item .text {
    font-size: 2rem;
    align-self: center;
}

.Item p1 {
    font-size: 1.5rem;
    align-self: center;
}

.Item p2 {
    font-size: 4rem;
    align-self: center;
}

.Item h1{
    font-size: 1.5rem;
    align-self: center;
}

.Item h2{
    font-size: 4rem;
    align-self: center;
    color: white;
}



.Item b {
    width: 100%;
    height: 60%;
    align-self: center;
}

@media (max-width: 500px){
    Item {
        flex-flow: column;
    }
}
