/* .row {
    width: 90%;
    margin: 0 auto;
}
.row::after {
    content: "";
    clear: both;
}

.col1of2 {
    width: 50%;
    float: left;
} */


.AddListingForm {
    padding: 20px;
    width: 100%;
    height: 50%;
    
}

.clearfix {
    content: "";
    clear: both;
}

.Image img{
    max-width: 200px;
}

.Form {
    position: relative;
}

.Form input, textarea {
    padding: 10px;
    width:100%;
}

.Form textarea {
    resize: none;
    border: 1px solid lightgrey;

}

.FileLoader {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 40%;
    height: 27rem;
    border: 2px solid #E54A59;
}
.FileLoader label {
    cursor: pointer;
}
.FileLoader i {
    border-radius: 2px;
    margin: 5px;
    padding: 2px;
    position: absolute;
    top: 0;
    right: 0;
    color: #E54A59;
    background-color: white;
}
.FileLoader i:hover {
    color: white;
    background-color: #E54A59;
}

.Delete {
    color: #E54A59;
    font-size: 1.4rem;
    cursor: pointer;
}

