.AddListingForm {
    padding: 20px;
    width: 100%;
    height: 50%;
    
}

.Image img{
    max-width: 200px;
}

.Form {
    width: 80%;
}

.Form input, textarea {
    margin: 10px;
    padding: 10px;
    width:100%;
}

.Form textarea {
    resize: none;
    border: 1px solid lightgrey;

}

.FileLoader {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    width: 250px;
    height: 250px;
    border: 2px solid #E54A59;
}
.FileLoader label {
    cursor: pointer;
}
.FileLoader i {
    border-radius: 2px;
    margin: 5px;
    padding: 2px;
    position: absolute;
    top: 0;
    right: 0;
    color: #E54A59;
    background-color: white;
}
.FileLoader i:hover {
    color: white;
    background-color: #E54A59;
}
